<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
    <listeners>
  <listener class-name ="com.firebase.test.tests.Listenerclass"/>
  
  </listeners>
    
  <test name="Regression">
  <parameter name = "browsername" value = "chrome"/>
    <classes>
      <class name="com.firebase.test.tests.AutomationTest">
      
     <methods>
        
       <include name="checkRememberMe3()"/> 
       
      </methods>
      
	</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
